
.hello {
    color: blueviolet;
    font-family: cursive;
    font-size: larger;
    text-align: center;
}

.content{
    display: flex;
    justify-content: center;
    background-color: #0D2439;
}

.home-topics{
    text-align: center;
    padding: 10px;
    font-size: large;
}
.topics{
    height: 100%;
    text-align: center;
    padding: 10px;
}
.home-topics h3{
    margin-top: 50px;
    font-family: cursive;
    font-size:25px;
    font-weight: 500;
    color: blueviolet;
}